Source: irccmd
Maintainer: Cor Peters <corpeters@incas3.eu>
Section: INCAS
Standards-Version: 3.7
Build-Depends:  debhelper (>= 7), 
                libircclient-dev, 
                libargtable2-dev, 
                liblua5.1-0-dev,
                autoconf

Package: irccmd
Priority: optional
Architecture: amd64 i386 armel
Section: INCAS
Pre-Depends:    libircclient1, 
                libargtable2-0, 
                liblua5.1-0
Description: Commandline bot for the INCAS3 IRC network
